@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


#main {
    width: 100%;
    height: 100%;
    background-color: rgb(15 23 42);
}

.hide {
    display: none;
}

/* BEGIN HEADER */

/* BEGIN NAV */
.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(15 23 42); */
    padding: 0 100px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    z-index: 5;
    /* Blur behind nav */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.logo a {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0 0 15px #fff;
    cursor: pointer;
    text-decoration: none;
}

.menu {
    width: 35%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.menu-item {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
.menu-item:hover {
    color: rgb(77, 141, 236);
}

.search-box {
    position: relative;
    display: block;
    width: 20%;
    height: 40px;

}

.input-box {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1e293b;
    border-radius: 20px;
    padding: 0 20px;
    color: #94A3B8;
}

.input-box:focus {
    outline: none;
    background-color: #253146 ;
    border: 1px solid rgb(77, 141, 236);
}
.input-box:focus::-webkit-input-placeholder {
    color: #94A3B8;
}

.input-box:hover {
    background-color: #253146 ;
}

.icon-search {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #94A3B8;
    cursor: pointer;
}
.icon-search:hover {
    color: rgb(77, 141, 236);
}
/* END NAV */

/* BEGIN SLIDER */

.slider {
    width: 100%;
    height: 500px;
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-picture img{
    object-fit: cover;
}

/* .btn-more {
    width: 150px;
    height: 80px;
    background-color: rgb(77, 141, 236);
} */

/* END SLIDER */

/* END HEADER */

/* BEGIN CONTENT */
#content {
    padding: 20px 100px;
    color: #fff;
}
.title-list {
    font-size: 20px;
    margin-bottom: 50px;
}   

.list-film {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item-film {
    margin-bottom: 40px;
}

.item-img img{
    width: 100%;
    height: 154px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.item-title {
    text-decoration: none;
    font-size: 18px;
    color: rgb(77, 141, 236);
    cursor: pointer;
}
.item-desc p{
    font-size: 14px;
}
/* END CONTENT */

/* VIDEO */

.film-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000000ab;
    top: 0;
    left: 0;
    z-index: 10;
    
}

.video-block {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 11;
}

/* END VIDEO */